In [31]:
import pandas as pd
import numpy as np

In [32]:
USERS_FILE = './dataset-1/users.csv'
FUSERS_FILE = './dataset-1/fusers.csv'
PROCESSED_OUTPUT_FILE = './processed_users.csv'

In [33]:
FOLLOWERS_COL = 'followers_count'
FOLLOWING_COUNT = 'friends_count'
PROFILE_IMG_COL = 'default_profile_image'
PROTECTED_COL = 'protected'
NAME_COL = 'name'
POSTS_COL = 'statuses_count'

In [34]:
df_users = pd.read_csv(USERS_FILE, encoding='latin1')
df_users['is_fake'] = 0
df_fusers = pd.read_csv(FUSERS_FILE, encoding='latin1')
df_fusers['is_fake'] = 1

In [35]:
df_users.sample(5)

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1,test_set_2,is_fake
582,1027713949,Damian,H3LLoo_,19532,483,241,3124,2,NaN,en,...,God above all | Taken since 08/12/14 @LexiiMar...,NaN,NaN,Sat Dec 22 04:00:45 +0000 2012,2012-12-22 05:00:45,2015-05-01 22:13:58,2016-03-15 15:56:43,0,0,0
1715,1394115517,zebraforce,alexanclrite,10070,131,295,368,2,http://t.co/ZIgEwayTPI,en,...,"Je ne mange pas mon pain avec beurre, mais ave...",NaN,NaN,Wed May 01 08:33:25 +0000 2013,2013-05-01 10:33:25,2015-05-02 04:40:04,2016-03-15 16:02:26,0,0,0
392,451144632,Darren,Darren_guy8,8793,637,915,570,0,NaN,en,...,"Progress / Pride, 1993, #love 'MC'",NaN,NaN,Sat Dec 31 03:02:55 +0000 2011,2011-12-31 04:02:55,2015-05-02 10:49:58,2016-03-15 15:55:46,1,1,0
2123,1144070936,Rodrigo Cavalcante,eriagorn,5372,146,150,454,2,NaN,pt,...,When I was a boyI searched for a world thatâ...,NaN,NaN,Sun Feb 03 03:21:49 +0000 2013,2013-02-03 04:21:49,2015-05-02 00:41:24,2016-03-15 16:04:31,1,0,0
3171,17748368,Todd Seplavy,ska_todd,10043,1951,750,882,37,NaN,en,...,Director of product for @GTBicycles. Lover of ...,NaN,NaN,Sun Nov 30 04:05:51 +0000 2008,2008-11-30 05:05:51,2015-05-01 13:47:46,2016-03-15 16:09:51,0,0,0

In [36]:
df_fusers.sample(5)

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,url,...,is_translator,follow_request_sent,protected,verified,notifications,description,contributors_enabled,following,updated,is_fake
2052,616208980,Kerry Fletcher,kerryfletcheras,55,21,614,0,0,Sat Jun 23 15:30:29 +0000 2012,NaN,...,NaN,NaN,NaN,NaN,NaN,"Student, likewatch TV and Basktball game!",NaN,NaN,2013-06-12 18:38:26,1
1933,1176270469,Gabriel Woodford,WoodfordutfGabr,17,9,201,0,0,Wed Feb 13 17:32:30 +0000 2013,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-06-12 18:38:26,1
2969,618438937,Serena Rich,richapjp,31,15,316,0,0,Mon Jun 25 21:05:20 +0000 2012,NaN,...,NaN,NaN,NaN,NaN,NaN,"Nosolofreak, todo tu ocio sin pelos en la leng...",NaN,NaN,2013-06-12 18:38:26,1
388,193607094,ÐÐ»Ð°Ð´Ð¸Ð¼Ð¸Ñ,vtemnenkov,202,3,550,14,0,Wed Sep 22 07:25:17 +0000 2010,NaN,...,NaN,NaN,NaN,NaN,NaN,"ÑÐ¾Ð´Ð¸Ð»ÑÑ,ÑÑÐ¸Ð»ÑÑ,ÑÐ°Ð±Ð¾ÑÐ°Ð»,Ð¶Ð...",NaN,NaN,2013-06-12 18:38:35,1
1649,1175642052,Soledad Roan,RoanywySoledad,16,10,194,0,0,Wed Feb 13 15:30:37 +0000 2013,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-06-12 18:38:35,1

In [37]:
print(f"Genuine profiles loaded: {len(df_users)}")
print(f"Fake profiles loaded: {len(df_fusers)}")

Genuine profiles loaded: 3474
Fake profiles loaded: 3351

In [38]:
combined_df = pd.concat([df_users, df_fusers], ignore_index=True)
combined_df.sample(10)

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1,test_set_2,is_fake
4489,1127771377,Inocencia Salas,InocenciaSalas1,18,10,222,0,0,NaN,en,...,cute_ghur28,NaN,NaN,Mon Jan 28 11:19:26 +0000 2013,NaN,NaN,2013-06-12 18:38:26,NaN,NaN,1
256,461572767,aÐ²Ð²Î¹Î¹Î¹Ð²Ï ÑÑoÑ,BustosAbby,4416,168,212,5707,0,NaN,en,...,â¢|2016|â¢ Stay Radâ¤ï¸,NaN,NaN,Wed Jan 11 23:19:06 +0000 2012,2012-01-12 00:19:06,2015-05-02 11:27:46,2016-03-15 15:55:04,1.0,0.0,0
3901,215766919,Miroslav Scetaric,Nightryder1985,6,4,580,0,0,NaN,en,...,"Hi, I`m a open mind person who like to meet a ...",NaN,NaN,Sun Nov 14 21:20:56 +0000 2010,NaN,NaN,2013-06-12 18:38:26,NaN,NaN,1
6634,709010197,Alfredo Moses,alfredomosesgij,35,12,242,0,0,NaN,en,...,NaN,NaN,NaN,Sat Jul 21 13:51:05 +0000 2012,NaN,NaN,2013-06-11 17:39:44,NaN,NaN,1
411,535758794,Deon Butler,DeonButler23,2071,283,225,956,1,NaN,en,...,Chillin' out maxin' relaxin' all cool.,NaN,NaN,Sat Mar 24 22:11:56 +0000 2012,2012-03-24 23:11:56,2015-05-01 13:38:14,2016-03-15 15:55:51,0.0,0.0,0
6483,619080462,Louvenia Swanson,louveniauh,27,20,289,0,0,NaN,en,...,"16,Student Enjoyur ly without any potential limit",NaN,NaN,Tue Jun 26 11:50:53 +0000 2012,NaN,NaN,2013-06-12 18:38:35,NaN,NaN,1
2400,2478604735,balenciagapapa.,jalonmuhammad,21351,411,375,9746,3,http://t.co/0x2CEhzA1U,en,...,Turner '16 #IcyBoyz.. ........... Feminist/The...,NaN,NaN,Mon May 05 16:42:29 +0000 2014,2014-05-05 18:42:29,2015-05-01 17:11:57,2016-03-15 16:05:55,1.0,0.0,0
1110,240561724,Paige Reihm,PaigeeReihm,8017,328,330,958,1,NaN,en,...,"Be silly, be honest, be kind. & keep on dreami...",NaN,NaN,Thu Jan 20 06:08:47 +0000 2011,2011-01-20 07:08:47,2015-05-01 16:13:52,2016-03-15 15:59:23,0.0,0.0,0
4162,383379752,A.C.A.B,BriffauNicolas,446,37,479,3,0,https://t.co/lVxq4HHbZj,fr,...,NaN,NaN,NaN,Sat Oct 01 19:39:19 +0000 2011,NaN,NaN,2013-06-12 18:38:26,NaN,NaN,1
3117,2592104616,âª lev's third leg âª,kuniyuki_ebooks,41094,476,308,7,4,http://t.co/9zG4uCzJIz,en,...,ziv/leah â they/she â my interests shift p...,NaN,NaN,Fri Jun 27 23:30:32 +0000 2014,2014-06-28 01:30:32,2015-05-01 18:40:52,2016-03-15 16:09:33,1.0,0.0,0

In [39]:
combined_df[NAME_COL] = combined_df[NAME_COL].fillna('unknown')
combined_df['name_length'] = combined_df[NAME_COL].apply(len)

In [40]:
combined_df['follower_ratio'] = combined_df[FOLLOWERS_COL] / (combined_df[FOLLOWING_COUNT]+1)

In [41]:
combined_df['protected'] = combined_df[PROTECTED_COL].fillna(0)
combined_df['default_profile_image'] = combined_df[PROFILE_IMG_COL].fillna(0)

In [43]:
FINAL_FEATURES = [
    'default_profile_image',
    'statuses_count',
    'followers_count',
    'friends_count',
    'protected',
    'name_length',
    'follower_ratio',
    'is_fake'
]

final_data = combined_df[FINAL_FEATURES]

In [49]:
final_data.to_csv(PROCESSED_OUTPUT_FILE, index=False)
print(f"\nFinal cleaned dataset for training saved to {PROCESSED_OUTPUT_FILE}.")
final_data.head()

Final cleaned dataset for training saved to ./processed_users.csv.

,default_profile_image,statuses_count,followers_count,friends_count,protected,name_length,follower_ratio,is_fake
0,0.0,2177,208,332,0.0,15,0.624625,0
1,0.0,2660,330,485,0.0,5,0.679012,0
2,0.0,1254,166,177,0.0,8,0.932584,0
3,0.0,202968,2248,981,0.0,17,2.289206,0
4,0.0,82,21,79,0.0,8,0.262500,0

In [50]:
final_data['is_fake'].value_counts()

is_fake
0    3474
1    3351
Name: count, dtype: int64