In [1]:
import pandas as pd
import numpy as np

In [2]:
USERS_FILE = './dataset-1/users.csv'
FUSERS_FILE = './dataset-1/fusers.csv'
PROCESSED_OUTPUT_FILE = './output-files/processed_users.csv'

In [3]:
FOLLOWERS_COL = 'followers_count'
FOLLOWING_COUNT = 'friends_count'
PROFILE_IMG_COL = 'default_profile_image'
PROTECTED_COL = 'protected'
NAME_COL = 'name'
POSTS_COL = 'statuses_count'

In [4]:
df_users = pd.read_csv(USERS_FILE, encoding='latin1')
df_users['is_fake'] = 0
df_fusers = pd.read_csv(FUSERS_FILE, encoding='latin1')
df_fusers['is_fake'] = 1

In [5]:
df_users.sample(5)

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1,test_set_2,is_fake
2087,481913106,neil,fratstylesziall,21611,3535,2689,5201,16,NaN,en,...,"He strums the guitar, jumps up to 40 ft and he...",NaN,NaN,Fri Feb 03 09:45:01 +0000 2012,2012-02-03 10:45:01,2015-05-01 13:04:04,2016-03-15 16:04:19,0,0,0
2621,2237494153,KristineLaeBerongoy,laedberongoy,27816,1025,873,7145,3,NaN,en,...,Lady Spikers â Green â Ariana Grande,NaN,NaN,Mon Dec 09 11:18:42 +0000 2013,2013-12-09 12:18:42,2015-05-01 14:28:12,2016-03-15 16:07:03,0,0,0
2823,2213330096,â­â«âãââ â¡,mtikhr0510,9181,300,459,1789,0,NaN,ja,...,â â¢âHi I'm cory:-) I used to stay in the ...,NaN,NaN,Mon Nov 25 01:28:48 +0000 2013,2013-11-25 02:28:48,2015-05-01 14:11:47,2016-03-15 16:08:05,0,0,0
2535,26970502,Karla Victoria,karlavictoria,9405,703,223,6,9,NaN,en,...,insanely sane!,NaN,NaN,Fri Mar 27 08:08:54 +0000 2009,2009-03-27 09:08:54,2015-05-01 16:10:36,2016-03-15 16:06:37,0,0,0
987,2886779494,[á©âÎ¤ááªá] Dori,MiDoriHP,2540,108,30,2751,0,http://t.co/mTgI1vcUn1,en,...,Oddly in love with @VirtylHP //Mvp+//Quake God...,NaN,NaN,Fri Nov 21 11:21:23 +0000 2014,2014-11-21 12:21:23,2015-05-01 22:32:50,2016-03-15 15:58:46,0,0,0

In [6]:
df_fusers.sample(5)

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,created_at,url,...,is_translator,follow_request_sent,protected,verified,notifications,description,contributors_enabled,following,updated,is_fake
38,34461690,Joe N Woods Jr,jwmas89,1,14,582,0,0,Thu Apr 23 00:30:51 +0000 2009,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-06-12 18:38:35,1
1166,1129923780,Viviana Snider,VivianaSnider1,16,16,264,0,0,Tue Jan 29 03:28:57 +0000 2013,NaN,...,NaN,NaN,NaN,NaN,NaN,simpleute,NaN,NaN,2013-06-11 17:39:44,1
2831,617597399,Eugene Camacho,eugeneposjr,28,14,316,0,0,Mon Jun 25 00:11:33 +0000 2012,NaN,...,NaN,NaN,NaN,NaN,NaN,I Crate,NaN,NaN,2013-06-11 17:39:44,1
560,291614887,ÐÐºÐ°ÑÐµÑÐ¸Ð½Ð° ÐÐ½ÑÑÐ¸Ð½Ð°,ketryn2008,87,7,562,11,0,Mon May 02 10:01:01 +0000 2011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013-06-11 17:39:44,1
1604,1175015820,Rebekah Yingling,YinglingaftRebe,19,8,235,0,0,Wed Feb 13 11:35:30 +0000 2013,NaN,...,NaN,NaN,NaN,NaN,NaN,"Social Media Strategist focusing on SM, social...",NaN,NaN,2013-06-12 18:38:35,1

In [7]:
print(f"Genuine profiles loaded: {len(df_users)}")
print(f"Fake profiles loaded: {len(df_fusers)}")

Genuine profiles loaded: 3474
Fake profiles loaded: 3351

In [8]:
combined_df = pd.concat([df_users, df_fusers], ignore_index=True)
combined_df.sample(10)

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1,test_set_2,is_fake
2156,211564378,Femke,femkesvs,19176,1027,446,4271,32,http://t.co/mNlAW7Pei2,en,...,"Designer, blogger & yogi // Making magic at @w...",NaN,NaN,Wed Nov 03 16:28:10 +0000 2010,2010-11-03 17:28:10,2015-05-01 14:56:20,2016-03-15 16:04:41,1.0,1.0,0
4781,1174418749,Gaynelle Greenway,GreenwaydodGayn,24,10,192,0,0,NaN,en,...,Best redit Repar Service since 1995,NaN,NaN,Wed Feb 13 08:33:47 +0000 2013,NaN,NaN,2013-06-12 18:38:35,NaN,NaN,1
4904,1174694204,Jestine Tsosie,TsosievqbJestin,20,9,211,0,0,NaN,en,...,-- music ; education ; dinero !! if it don't m...,NaN,NaN,Wed Feb 13 10:02:59 +0000 2013,NaN,NaN,2013-06-12 18:38:35,NaN,NaN,1
4943,1174754300,Daniel Barney,BarneykwlDaniel,13,10,209,0,0,NaN,en,...,Specl Forces,NaN,NaN,Wed Feb 13 10:19:51 +0000 2013,NaN,NaN,2013-06-12 18:38:35,NaN,NaN,1
3745,135637721,Rafael Maldonado,Rafitaone,1,6,549,0,0,NaN,es,...,"Me gusta la musica,los carros y me gusta tener...",NaN,NaN,Wed Apr 21 21:48:31 +0000 2010,NaN,NaN,2013-06-12 18:38:35,NaN,NaN,1
4636,1129919382,Kerri Hensley,KerriHensley9,25,14,239,0,0,NaN,en,...,"News bout SocialMedia, Advertising,Technology ...",NaN,NaN,Tue Jan 29 03:26:10 +0000 2013,NaN,NaN,2013-06-11 17:39:44,NaN,NaN,1
1026,1580923315,âââJ.I.'s Baeâââ,MsMuggin,1095,92,127,373,0,NaN,en,...,Hey my name is Tamia...Trackstar in the making...,NaN,NaN,Tue Jul 09 17:20:35 +0000 2013,2013-07-09 19:20:35,2015-05-02 09:13:51,2016-03-15 15:58:58,1.0,0.0,0
1280,82861813,Samuel J Thomas,SamThomas_169,5090,232,492,339,2,NaN,en,...,Heros get remembered but legends never die #Be...,NaN,NaN,Fri Oct 16 12:11:18 +0000 2009,2009-10-16 14:11:18,2015-05-02 02:32:07,2016-03-15 16:00:14,0.0,0.0,0
196,73237856,Ben Andrews,BenAAndrews,160,165,574,31,1,NaN,en,...,Comm's Being me some Sunshine âï¸,NaN,NaN,Thu Sep 10 22:24:46 +0000 2009,2009-09-11 00:24:46,2015-05-02 01:19:02,2016-03-15 15:54:46,0.0,0.0,0
5691,616227442,Albert Roach,roachxhlkr,52,21,527,0,0,NaN,en,...,BG: My Wife ;) -- Fuck E V E R Y B O DY !,NaN,NaN,Sat Jun 23 15:51:36 +0000 2012,NaN,NaN,2013-06-12 18:38:26,NaN,NaN,1

In [9]:
combined_df[NAME_COL] = combined_df[NAME_COL].fillna('unknown')
combined_df['name_length'] = combined_df[NAME_COL].apply(len)

In [10]:
combined_df['follower_ratio'] = combined_df[FOLLOWERS_COL] / (combined_df[FOLLOWING_COUNT]+1)

In [11]:
combined_df['protected'] = combined_df[PROTECTED_COL].fillna(0)
combined_df['default_profile_image'] = combined_df[PROFILE_IMG_COL].fillna(0)

In [ ]:
# Normalize column names to lowercase for robustness

combined_df.columns = [c.lower() for c in combined_df.columns]

if 'id' not in combined_df.columns:
    for alt in ('user_id','uid','profile_id'):
        if alt in combined_df.columns:
            combined_df['id'] = combined_df[alt]
            break
    else:
        combined_df['id'] = range(1, len(combined_df) + 1)

if 'screen_name' not in combined_df.columns:
    for alt in ('handle','username','screenname'):
        if alt in combined_df.columns:
            combined_df['screen_name'] = combined_df[alt]
            break
    else:
        combined_df['screen_name'] = ''

if 'name' not in combined_df.columns:
    combined_df['name'] = combined_df.get('full_name', pd.Series(['unknown']*len(combined_df)))

combined_df['name'] = combined_df['name'].fillna('unknown')

numeric_cols = ['followers_count','friends_count','statuses_count','default_profile_image','protected']
for col in numeric_cols:
    combined_df[col] = pd.to_numeric(combined_df.get(col, 0), errors='coerce').fillna(0).astype(int)

combined_df['name_length'] = combined_df['name'].apply(lambda x: len(str(x)))
combined_df['follower_ratio'] = combined_df['followers_count'] / (combined_df['friends_count'] + 1)

FINAL_FEATURES = [
    'id',
    'name',
    'screen_name',
    'default_profile_image',
    'statuses_count',
    'followers_count',
    'friends_count',
    'protected',
    'name_length',
    'follower_ratio',
    'is_fake',
 ]

final_data = combined_df[FINAL_FEATURES]
final_data.to_csv(PROCESSED_OUTPUT_FILE, index=False)
print(f"\nFinal cleaned dataset for training saved to {PROCESSED_OUTPUT_FILE}.")
final_data.head()

Final cleaned dataset for training saved to ./output-files/processed_users.csv.

,id,name,screen_name,default_profile_image,statuses_count,followers_count,friends_count,protected,name_length,follower_ratio,is_fake
0,1502026416,TASUKU HAYAKAWA,0918Bask,0,2177,208,332,0,15,0.624625,0
1,2492782375,ro_or,1120Roll,0,2660,330,485,0,5,0.679012,0
2,293212315,bearclaw,14KBBrown,0,1254,166,177,0,8,0.932584,0
3,191839658,pocahontas farida,wadespeters,0,202968,2248,981,0,17,2.289206,0
4,3020965143,Ms Kathy,191a5bd05da04dc,0,82,21,79,0,8,0.262500,0

In [13]:
final_data.to_csv(PROCESSED_OUTPUT_FILE, index=False)
print(f"\nFinal cleaned dataset for training saved to {PROCESSED_OUTPUT_FILE}.")
final_data.head()

Final cleaned dataset for training saved to ./output-files/processed_users.csv.

,id,name,screen_name,default_profile_image,statuses_count,followers_count,friends_count,protected,name_length,follower_ratio,is_fake
0,1502026416,TASUKU HAYAKAWA,0918Bask,0,2177,208,332,0,15,0.624625,0
1,2492782375,ro_or,1120Roll,0,2660,330,485,0,5,0.679012,0
2,293212315,bearclaw,14KBBrown,0,1254,166,177,0,8,0.932584,0
3,191839658,pocahontas farida,wadespeters,0,202968,2248,981,0,17,2.289206,0
4,3020965143,Ms Kathy,191a5bd05da04dc,0,82,21,79,0,8,0.262500,0

In [14]:
final_data['is_fake'].value_counts()

is_fake
0    3474
1    3351
Name: count, dtype: int64